{% extends "./layout.html" %}

<!-- Header -->
{% block header %}
<header class="text-center">
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  <p>
    {% for item in pages %}
    <!-- -->
    {% if item.slug %}
    <a href="/page/{{item.slug}}.html" title="{{ item.title }}">{{ item.title }}</a>
    {% else %}
    <a href="/page/{{item.cid}}.html" title="{{ item.title }}">{{ item.title }}</a>
    {% endif %}
    <!-- -->
    {% endfor %}
  </p>
  <hr />
</header>
{% endblock %}

<!-- Main -->
{% block main %}
<ul>
  {% for item in posts %}
  <li>
    {% if item.slug %}
    <a href="/post/{{item.slug}}.html" title="{{ item.title }}">{{ item.title }}</a>
    {% else %}
    <a href="/post/{{item.cid}}.html" title="{{ item.title }}">{{ item.title }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
