@import '_base';
@import '_github';

@light-bg: #f9f7f7;
@dark-bg: #112d4e;
@primary-color: #24292e;
@second-color: #586069;
@link-color: #d73a49;

body {
  margin: 0;
  word-wrap: break-word;
  letter-spacing: 0.8px;
  font-size: 16px;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  color: @primary-color;
  text-rendering: optimizeLegibility;
  background: #f1f1f1 url('../img/light-bg.png');
}

a {
  color: @link-color;
  text-decoration: none;
  background-color: initial;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline-width: 0;
}

.header,
.aside,
.nav,
.main,
.footer {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  &__logo {
    border: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Helvetica, STKaiti, SimSun, serif;

    .heart {
      display: inline-block;
      animation: beatForVina 1.2s infinite;
    }

    a {
      //color: inherit;
      text-decoration: none;
    }
  }
}

.aside {
  position: relative;
  margin-bottom: 30px;
  padding-left: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logo {
    position: absolute;
    top: 0;
    left: 15px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }

  p {
    margin: 0;
    line-height: 1.8;
  }
}

.nav {
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.footer {
  padding: 20px 15px;
}

.article {
  margin-bottom: 16px;

  &__title {
    font-size: 22px;
    line-height: 1.4;
    border: none;

    a {
      text-decoration: none;
    }
  }

  &__tags {
    margin-bottom: 10px;

    .tag {
      display: inline-block;
      vertical-align: middle;
      padding: 0 8px;
      font-size: 12px;
      line-height: 1.67;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      font-style: normal;
      letter-spacing: normal;
      background: @dark-bg;
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }
  }

  &__meta {
    margin-bottom: 10px;
    font-size: 15px;
  }

  &__excerpt {
    margin-bottom: 10px;
    color: @second-color;
    font-size: 15px;
  }

  &__more {
  }
}

@keyframes beatForVina {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
